/* Overarching Styles */

body {
   background-color: yellow;
   margin: 0;
   font-family: 'Rubik', sans-serif;
   font-size: 12pt;
}

.full-page-container {
   max-width: 100%;
   margin: 0em auto 0em auto;
}

.header-block {
   position: static;
   height: 305px;
   background-color: orange;
   box-shadow: 0px 10px 7px #4d3200;
}

h1 { 
   position: absolute; 
   top: 243px; 
   left: 0.45em;
   padding: 0em 0em 0em 0em;
   margin: 0em 0em 0em 0em;
   width: 100%;
   color: orange;
   font-family: 'Rubik Glitch', sans-serif;
   text-shadow: -7px 10px 7px #4d3200;
   font-size: 8em;
   font-weight: 100;
}

.mid-section-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 1400px;
   margin: 7.15em auto 4em auto;
   background-color: yellow;
}

nav {
   width: 50em;
   background-color: yellow;
}

nav ul {
   height: 16em;
   padding: 0em 0em 0em 0em;
   margin: 0em 0em 0em 0em;
   background-color: yellow;
}

nav ul li {
   border-bottom: 3px dashed black;
   padding: 0.75em 0em 0.75em 0em;
   list-style-type: none;
   background-color: yellow;
}

nav ul li.no-bottom-border {
   border-bottom: none;
}

nav ul li a {
   color: rgb(157, 52, 157);
   font-size: 17pt;
   font-weight: 700;
   text-decoration: none;
}

nav ul li a:hover {
   color: white;
   text-shadow: 0px 0px 5px black;
}

.body-container {
   min-width: 65em;
   padding: 0em 2.5em 0em 2.5em;
   margin: 0em 0em 0em 0.5em;
   background-color: yellow;
}

h2 {
   font-size: 22pt;
   margin: 1em 0em 1em 0em;
}

h2.with-extra-space-above {
   font-size: 22pt;
   margin: 3em 0em 1em 0em;
}

h3 {
   font-size: 15pt;
}

h3.with-extra-space-above {
   font-size: 15pt;
   margin: 5em 0em 1em 0em;
}

span.spotify,
span.apple-music,
span.amazon-music {
   margin-left: 0.35em;
}

span.spotify a,
span.apple-music a,
span.amazon-music a {
   color: white
}

footer {
   padding-top: 2em;
   padding-bottom: 2em;
   background-color: black;
   box-shadow: 0px -10px 7px #545400;
}

footer ul {
   display: flex;
   flex-direction: row;
   max-width: 1360px;
   margin: 0em auto 0em auto;
   justify-content: space-around;
   background-color: black;
}

footer ul li {
   list-style-type: none;
   padding: 0em 0em 0em 0em;
   color: yellow;
   background-color: black;
}

footer ul li a {
   color: white;
}







/* "Home" Page Styles */

.home-header-image {
   background: url('images/piano-header-image.jpg');
   background-size: contain;
   background-attachment: fixed;
   height: 355px;
   box-shadow: 0px -10px 7px #545400 inset;
}

h1.home-header-text { 
   position: absolute; 
   top: 243px; 
   left: 0.45em; 
   width: 100%;
   color: yellow;
   font-family: 'Rubik Glitch', sans-serif;
   font-size: 8em;
   font-weight: 100;
   text-shadow: -7px -10px 7px #545400;
}

.home-mid-section-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 1400px;
   margin: 4em auto 4em auto;
   background-color: yellow;
}

.latest-release {
   display: flex;
   flex-direction: row;
   justify-content: center;
   max-width: 48em;
   padding: 2.5em 1em 2.5em 1em;
   margin: 0em auto 0em auto;
   background-color: rgb(157, 52, 157);
   box-shadow: 5px 5px 30px #545400;
   border-radius: 5em;
}

img.latest-release-image {
   width: 18em;
   height: 18em;
   margin: 0em 0em 0em 0em;
   border-radius: 0em;
   background-color: ;
   box-shadow: 10px 10px 30px black;
}

.latest-release-text {
   padding: 0.5em 0em 0.5em 0em;
   margin: 0em 0em 0em 2em;
   color: yellow;
   background-color: ;
}

.my-musical-journey {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 3em 0em 4em 0em;
   background-color: yellow;
}

.my-musical-journey-text {
   min-height: auto;
   max-width: 550px;
   padding: 0.5em 0em 0.5em 0em;
   background-color: yellow;
}

.my-musical-journey-image {
   width: 30em;
   height: 30em;
   margin: 3.5em 0em 0em 2em;
   background-color: lightblue;
   border-radius: 4em;
}

.resources {

}

.resources ul {
   display: flex;
   flex-direction: row;
   padding: 1em 0em 1em 0em;
   margin: 0em 0em 0em 0em;
   background-color: yellow;
   justify-content: space-around;
}

.resources ul li {
   list-style-type: none;
   padding: 1em 2.5em 1em 2.5em;
   box-shadow: 5px 5px 30px #545400;
   border-radius: 2em;
   background-color: rgb(157, 52, 157);
}

.resources ul li a {
   color: white;
}







/* "Discography" Page Styles */

.albums-and-singles {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   background-color: yellow;
}

img.albums-and-singles-image {
   width: 12em;
   height: 12em;
   margin: 0em 0em 0em 0em;
   background-color: lightblue;
}

.albums-and-singles-text {
   margin: 0em 0em 0em 1em;
   background-color: ;
}

.albums-and-singles-text ul {

}

.albums-and-singles-text ul li {
   list-style-type: decimal;
}

.albums-and-singles-text ul li a {

}







/* "Additional Projects" Page Styles */







/* "Behind the Scenes" Page Styles */







/* "Media Gallery" Page Styles */

.media-gallery-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 3em 0em 0em 0em;
}

img.media-gallery-images {
   width: 14em;
   height: 14em;
   box-shadow: 10px 10px 30px black;
}







/* Adjustments for Small Screens */

@media screen and (max-width: 650px) {
   nav ul {
       flex-direction: column;
       padding: 0 20px;
   }
   nav ul li {
       margin: 10px 0;
   }
}